.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile:hover {
  box-shadow: 0px 0px 0px yellow;
  animation: circle 5s ease infinite;
}

body {
  background: linear-gradient(90deg, #7fcdf7, #064273, #76b6c4);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: 300% 300%;
  transform: translate3d(0, 0, 0);
  animation: animate 20s ease infinite;
  background-color: #064273;
  font-family: "Crimson Text", serif;
  color: white;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes circle {
  0% {
    box-shadow: 0px 0px 10px yellow;
  }
  50% {
    box-shadow: 0px 0px 80px yellow;
  }
  100% {
    box-shadow: 0px 0px 10px yellow;
  }
}
