header h1 {
  margin-left: 10px;
  margin-top: 8px;
  color: #def3f6;
}
header {
  padding-top: 15px;
  background: linear-gradient(90deg, #7fcdff, #064273, #76b6c4);
  background-size: 300% 300%;
  animation: animate 20s ease infinite;
  padding-bottom: 30px;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
