img {
  height: 400px;
  width: 800px;
}

body {
  background-color: #7fcdff;
}
/* 
@media screen and (max-width: 800px) {
  img {
    height: 200px;
    width: 400px;
  }
}

@media screen and (max-width: 440px) {
  img {
    height: 200px;
    width: 300px;
  }
}

@media screen and (max-width: 280px) {
  img {
    height: 200px;
    width: 200px;
  }
} */
