img {
  height: 400px;
  width: 800px;
}
.icons {
  margin-top: 10px;
}
.icons3 a:hover {
  color: red;
}

body {
  /* background-color: #7fcdff; */
  background: linear-gradient(50deg, #7fcdff, #064273, #76b6c4);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: 300% 300%;
  animation: animate 20s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 
@media screen and (max-width: 800px) {
  img {
    height: 200px;
    width: 400px;
  }
}

@media screen and (max-width: 440px) {
  img {
    height: 200px;
    width: 300px;
  }
}

@media screen and (max-width: 280px) {
  img {
    height: 200px;
    width: 200px;
  }
} */
